@charset "utf-8";
body{
	background-image: url("../images/aboutusbackground.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}
.read-more-container .full-text {
  display: none; /* Initially hide the full text */
}

.col-xl-6 center .img-fluid {
	overflow: hidden;
  transition: transform 0.4s ease;
}
.col-xl-6 center .img-fluid:hover{
	transform: scale(1.1);
}

.col-xl-4 center .img-fluid {
	overflow: hidden;
  transition: transform 0.4s ease;
}
.col-xl-4 center .img-fluid:hover{
	transform: scale(1.1);
}
