@charset "utf-8";
.hidden {
      display: none;
    }
#view-more-btn {
      cursor: pointer;
      color: white;
	  font-size: 15px;
	  font-family: monospace;
    }
#view-more-btn:hover{
	text-decoration: underline;
	color: blue;
}

#view-more-btn-1 {
	cursor: pointer;
      color: white;
	  font-size: 15px;
	  font-family: monospace;
}
#view-more-btn-1:hover{
	text-decoration: underline;
	color: blue;
}

#view-more-btn-2 {
	cursor: pointer;
      color: white;
	  font-size: 15px;
	  font-family: monospace;
}
#view-more-btn-2:hover{
	text-decoration: underline;
	color: blue;
}

#view-more-btn-3 {
	cursor: pointer;
      color: white;
	  font-size: 15px;
	  font-family: monospace;
}
#view-more-btn-3:hover{
	text-decoration: underline;
	color: blue;
}